<p style="color: green"><%= notice %></p>

<%= render @restaurant %>

<h4>Check our reviews</h4>
<% @restaurant.reviews.each do |review| %>
  <p><%= review.content %>
     <%= link_to "delete review", review_path(review),
     data: {turbo_method: :delete, turbo_confirm: "U sure?"} %>

  </p>
<% end %>


<div>
  <%= link_to "Back to restaurants", restaurants_path, class: "btn btn-primary" %>
</div>
